<body id="user_index">

	<h1>NEWSROOM</h1>
	<p>Dispatches are coming in and going out.</p>

	<div id="user_desks">
	 <p><%= link_to "Your Desk", posts_path %></p>
	  <ol>
	    <% @users.each do |user| %>
	       <li><%= link_to user.fname + "'s Desk", user %></li>
	    <% end %>
	  </ol>
	</div>

	<div id="feed">
	  <h2>Ticker Tape</h2>
	    <ul>
	        <% @posts.last(10).each do |post| %>
	          <li><%= post.user_id %><br><%= post.title %><br><%= post.body %><br>
	          <% post.comments.each do |comment| %>
	            <% if comment.post.id == post.id %>
	              <span class="comment"><%= comment.body %></span>
	            <% else %>

	            <% end %></li>
	          <% end %>
	        <% end %>
	    </ul>
	</div>

</body>