<h1>NEWSROOM</h1>
<p>Dispatches are coming in and Dispatches are going out.</p>

<ol>
  <% @users.each do |user| %>
    <li><%= link_to user.fname + "'s Desk", user %></li>
  <% end %>
</ol>

<%= link_to "Edit your account", edit_user_path(@user) %> |

<%= link_to "Sign-Out", session_path(@user), method: :delete %> |


<%= link_to " Post a dispatch. ", new_post_path %> <!-- temporary link -->

<p><%= link_to "Delete Your Account", user_path(@user), method: :delete %></p>
