<h1><%= @user.fname + "'s Desk Drawer" %></h1>
<p>Dispatches</p>
<ul>
    <% @user.posts.each do |post| %>   
    	<li>
      		<%= post.title %>
      		<%= post.body %>
      		<%= link_to "Edit", edit_post_path(post) %>
      		<%= link_to "Delete", post_path(post), method: :delete, data: { confirm: "Confirm you want to delete."} %>
    	</li>
    <%end%>
</ul>

<%= link_to "Back to the Newsroom", users_path %>
<%= link_to "Sign-Out", session_path(@user), method: :delete %>

